doctype
html
    head
        title Sold your stuff
        link(rel="stylesheet" href="/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/styles/app.css")
    body
        header.nav
        .container
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li: a(href="/") Home
                    li: a(href="/ads") Ads
                    if (currentUser)
                        li: a(href="/ads/upload") Add new ad
                        li: a(href="/profile") Your profile
                        li: a(href="/logout") Logout
                    else
                        li: a(href="/register") Register
                        li: a(href="/login") Login

        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content

        footer
            p.text-center
                | &copy; Express homework

        include scripts