doctype html
html(lang="en")
  head
    title Homework
    link(rel='stylesheet', href='styles/style.css')
  body
    h1 Homework

    block main-content
         img(src= "images/ninja.png")
         br
         img(src= "images/ninja2.png")
    script(src='scripts/script.js')